

.BSbuttons {
    position: relative;
    bottom: 80px;
}

.BSHome {
    margin-right: 5px;
}
.BSRematch {
    margin-left: 5px;
}

.Screen{
    width: 200px;
    height: 110px;
    border: 2px solid black;
    margin: auto;
    position: relative;
    bottom: 118vh;
}

/* this is what laptops are screens */
@media (min-width: 950px) {
    .container {
        text-align: center;
        position: relative;
        top: 25vh;
    }
    .fadeStyle {
        animation: slideIn 3s ease;
    }
    .mainContainerForScoreBoard {
        display: flex;
        justify-content: space-between;
        position: relative;
        bottom: 49vh;
    }
    .playerContainer1 {
        font-size: 30px;
        display: flex;
        flex-direction: column;
        border: 2px solid black;
        width: 40%;
        margin-left: 5px;
    }
    .Player1Score {
        font-size: 60px;
        /* color: rgb(42, 125, 235); */
        font-weight: 900;
        z-index: 1;
    }
    .playerContainer2 {
        font-size: 30px;
        display: flex;
        flex-direction: column;
        border: 2px solid black;
        width: 40%;
        margin-right: 5px;
    }
    .Player2Score {
        font-size: 60px;
        z-index: 1;
        /* color: rgb(42, 125, 235); */
        font-weight: 900;
    }

    .vs {
        position: relative;
        bottom: 40vh;
        animation: fadeout 2s ease-in;
        opacity: 0;
        pointer-events: none;
    }
    .winnerContainer {
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        font-size: xx-large;
        font-family: "Pacifico", cursive;
        animation: WinnerDesign 5s infinite;
        align-items: center;
        justify-content: center;
    }
}

/* This is for phones */
@media (max-width: 950px) {

 
    .winnerContainer {
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        font-size: xx-large;
        font-family: "Pacifico";
        animation: WinnerDesign 5s infinite;
        align-items: center;
        justify-content: center;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
        height: 800px;
        width: 800px;
        bottom: 400px;
    }
    100% {
        height: 300px;
        width: 300px;
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes fadeoutPhone {
    0% {
        opacity: 1;
        transform: scale(2);
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes slideIn {
    0% {
        opacity: 0.1;
        margin: 1px 100px 1px 100px;
    }
    100% {
        opacity: 1;
        margin: 1px 1px 1px 1px;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes WinnerDesign {
    0% {
        text-shadow: 1px 1px 10px red;
    }
    20% {
        text-shadow: 1px 1px 10px orange;
    }
    40% {
        text-shadow: 1px 1px 10px yellow;
    }
    60% {
        text-shadow: 1px 1px 10px green;
    }
    80% {
        text-shadow: 1px 1px 10px blue;
    }
    100% {
        text-shadow: 1px 1px 10px indigo;
    }
}
