@media (min-width: 950px) {
    .box {
        height: 100px;
        width: 100px;
        margin: 1px 1px 1px 1px;
        font-size: 40px;
        color: black;
        /* color: rgb(42, 125, 235); */
        /* font-weight: 800; */
        text-align: center;
    }
    .Screen {
        width: 20%;
        height: 80px;
        border: 2px solid black;
        position: relative;
        padding-top: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .mainContainerForScoreBoard {
        display: flex;
        justify-content: space-between;
        position: relative;
        height: 120px;
        margin-top: 5px;
    }
    .playerContainer1 {
        font-size: 20px;
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        width: 37%;
        height: 100px;
        margin-left: 5px;
        padding-top: 10px;
    }
    .playerContainer2 {
        font-size: 20px;
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        width: 37%;
        height: 100px;
        margin-right: 5px;
        padding-top: 10px;
    }

    .Player1Score {
        font-size: 40px;
        font-weight: 500;
    }

    .Player2Score {
        font-size: 40px;
        font-weight: 500;
    }
    .fadeStyle {
        animation: slideIn 3s ease;
    }
    .SelectGameModeCard {
        width: 300px;
        height: 400px;
        margin-left: 5px;
        font-size: x-large;
        transform: scale(0.8);
        transition: transform 0.3s ease;
    }
    .SelectGameModeCard:hover {
        transform: scale(1.2);
    }
}