@media (min-width: 950px) {
    .Screen{
        width: 200px;
        height: 110px;
        border: 2px solid black;
        margin: auto;
        position: relative;
    }
    .particles-container {
        position: relative; /* Ensure the container is relatively positioned */
        z-index: 1; /* Set your desired z-index value */
      }      
}