* {
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
    width: 100vw;
    height: 100vh;
    box-shadow: inset 0px 5px 400px 20px lightblue;
    background-color: lightgray;
}

/* This will help to scroll refresh on phones while disabling the Scrolling down */
body > .content-wrapper {
    overflow: auto;
    height: 100%;
}
@media (min-width: 950px) {
    body {
        /* overflow: hidden; */
    }
}
