/* @import "./keyFrames.css"; */
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");

.formContainer {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin: auto;
    position: relative;
    top: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 40px 20px lightblue;
}

.box {
    height: 100px;
    width: 100px;
    margin: 1px 1px 1px 1px;
    font-size: 40px;
    color: black;
    /* color: rgb(42, 125, 235); */
    /* font-weight: 800; */
    text-align: center;
}

.vs {
    position: relative;
    bottom: 300px;
    animation: fadeoutPhone 3s ease-out; 
    opacity: 0;
    pointer-events: none;
}

.SingleHomeButton{
    margin-top: 30px;
    position: relative;
    bottom: 300px;
    
}
.SingleHomeButtonCSS{
    width: 100px;
    margin: 0 5px 0 5px;
}

.cancel{
    visibility: hidden;
    background-color: transparent;
    border-color: white;
}
.confirm{
    visibility: hidden;
    background-color: transparent;
    border-color: white;
}

.winnerContainer {
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    font-family: "Barlow";
    align-items: center;
    height: 40vh;
    color: rgb(104, 73, 73);
    text-shadow: -1px -1px 1px black;
}
.BSHome {
    margin-right: 10px;
    width: 100px;

}
.BSRematch {
    margin-right: 10px;
    width: 100px;

}


@keyframes fadeoutPhone {
    0% {
        opacity: 1;
        transform: scale(2);
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
