.winnerDesign {
    position: relative;
    animation: swingName 2s infinite alternate  ease;
    left: -100px;  
}

@keyframes swingName {
    0% {
        transform-origin: top center;
        transform: rotate(30deg);
        bottom: 80px; 
    }
    25%{
        bottom: 60px;
    }
    75%{
        bottom: 70px;
    }
    100% {
        transform-origin: top center;
        transform: rotate(-30deg);
        left: 100px; 
        bottom: 80px; 
    }
}

.chain {
    position: relative;
    bottom: 30px;
    animation: swing 2s infinite alternate  ease;
}

@keyframes swing {
    0% {
        transform-origin: top center;
        transform: rotate(30deg);
    }
    100% {
        transform-origin: top center;
        transform: rotate(-30deg);
    }
}
