.winnerDesign {
    position: relative;
    animation: swingName 2s infinite alternate ease-in-out;
    left: -100px; 
    transform-origin: top center;
}

@keyframes swingName {
    0% {
        transform: rotate(30deg) translateY(-50px);
        bottom:30px;   
    }
    50%{
        transform: translateY(-25px);
    }
    100% {
        transform-origin: top center;
        transform: rotate(-30deg) translateY(-50px);
        left: 100px; 
        bottom:30px; 
    }
}

.chain {
    position: relative;
    bottom: 30px;
    animation: swing 2s infinite alternate  ease-in-out;
}

@keyframes swing {
    0% {
        transform-origin: top center;
        transform: rotate(30deg);
    }
    100% {
        transform-origin: top center;
        transform: rotate(-30deg);
    }
}
